<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Document</title>
</head>

<body>
    {{>header}}
    <div class="container">
        <section class="sec-boxes" role="section">
            <adrticle class="box">
                <h1 class="art-title-help">Help me</h1>
                <p>Every option should be explored and tried no matter how unpredictable, impossible, insane or
                    ridiculous does it looks or sound.</p>

            </adrticle>
            <adrticle class="box">
                <h1 class="art-title-help">Help you</h1>
                <p>Brainstorming, idea generation, playing sessions, note taking. You think you used everything? We will
                    challenge your mind and its abilities to the limits.</p>

            </adrticle>
            <adrticle class="box">
                <h1 class="art-title-help">Help nature</h1>
                <p>Our methods and ideas are are not written or following any books, curriculums or rules. We consider
                    ourselves rebels and we are proud of it.</p>

            </adrticle>
        </section>
    </div>
    {{>footer}}
</body>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</html>