<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Document</title>
</head>


<body>
    {{>header}}
    <div class="error-page-wrap">
        <article class="error-page gradient">
            <hgroup>
                <h1>404</h1>
                <h2>No help article found.</h2>
            </hgroup>
        </article>
    </div>
    {{>footer}}
</body>

</html>