<header>
    <div class="wrapper">
        <h1 class="logo">{{title}}</span></h1>

        <nav class="main-nav">
            <ul>
                <li><a href="/"><i class="fa fa-home nav-icon"></i>Home</a></li>
                <li><a href="/about"><i class="fa fa-info nav-icon"></i>About</a></li>
                <li><a href="/help"><i class="fa fa-usd nav-icon"></i>Help</a></li>
            </ul>
        </nav>

        <div class="menu-toggle">
            <div class="hamburger"></div>
        </div>

    </div>
</header>