@import "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css";

html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    padding-top: 44px;
    background-color: #FEF9EF;

}
body {
    margin: 0 0 60px; /* bottom has to be the same as footer height */
    background-color: #FEF9EF;

}
footer {
    /* just for demo */
    background-color: #A2D2FF;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
   /* just for demo */ 
  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.navbar {
  background-color: #A2D2FF;
  margin: 0;

}

.container {
  background-color:  #FEF9EF;
  text-align: center;
  color: #cebfba;
  padding-top: 24px;
  text-transform: uppercase;

}

.art-title {
  color: #FF865E;
  font-size: 14px;

}

.art-title-help {
  color: #8e1539;
  font-size: 14px;

}

h2 {
  color: #8e1539;
  font-size: 14px;

}

.main-title {
  color: #FF865E;
  font-size: 24px;

}

.weather-img {
  height: 160px;
  border-radius: 50%;
}

.weather-img-small {
  height: 40px;
  border-radius: 50%;
  padding-top: 7px;
}

.sec-boxes {
  display: flex;
  font-size: 8px;
}

#data1 {
  color: #FF865E;

}

#data2 {
  color: #A2D2FF;
  font-size: 28px;
}